:root {
    --nav-background-color: #cadedf;
    --nav-text-color: #2c7770;
    --nav-hover-background-color: #95bdb9;
    --nav-hover-text-color: #182423;
}
.toastBody {
    font-family: "Atlas Grotesk Web", Arial, Helvetica, sans-serif;
    color: #10171d; /* #10171D */
    font-size: 0.5rem !important;
}
main {
    min-width: 100svw;
    min-height: 100svh;
    /* background-color: rgb(245, 251, 249); */
}

.sideNav {
    background-color: var(--nav-background-color);
    color: var(--nav-text-color);
    min-width: 12rem;
}
@media (max-width: 768px) {
    .sideNav {
        min-width: 1rem;
    }
}

.sideNav-ul {
    padding-inline-start: 0;
    padding: 0.5rem 0.6rem;
    list-style: none;
}
.sideNav-ul .navlink {
    padding: 0.4rem 0.6rem;
    margin-bottom: 0.6rem;
    border-radius: 4px;
    cursor: pointer;
    color: var(--nav-text-color);
    font-weight: 500;
}
.sideNav-ul .navlink:hover {
    background-color: var(--nav-hover-background-color);
    color: var(--nav-hover-text-color);
    transition: 0.4s ease-out;
}
.sideNav-ul a {
    text-decoration: none;
}

.sideNav-ul .active {
    background-color: var(--nav-hover-background-color);
    color: var(--nav-hover-text-color);
}

.sideNav h4 {
    color: darkgreen;
}

.pcard {
    width: 20rem;
    border: none;
    border-radius: 10px;
    padding: 1rem;
    height: 12rem;
    overflow: hidden;
}

.cardbadge {
    font-size: 10px;
    padding: 2px 5px;
    font-weight: 700;
    border-radius: 5px;
}

.completed {
    color: #4d7a76;
    background-color: #bbe0dc;
}
.inProgress {
    color: rgb(230, 169, 3);
    background-color: rgb(247, 231, 194);
}

.high {
    color: rgb(201, 6, 6);
    background-color: rgb(247, 208, 208);
}
.low {
    color: black;
    background-color: rgb(233, 232, 232);
}
.medium {
    color: rgb(82, 133, 62);
    background-color: rgb(236, 247, 222);
}
.pcard .description,
.tcard .description {
    font-size: 14px;
    text-overflow: ellipsis;
    /* height: 100px; */
    overflow: hidden;
    color: gray;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* Limit to 3 lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.select {
    outline: none;
}

.tcard {
    width: 20rem;
    border: none;
    border-radius: 10px;
    padding: 1rem;
    height: 10rem;
    overflow: hidden;
}

.namecard-container {
    list-style: none;
    padding-inline-start: 0;
    display: flex;
    gap: 5px;
}
.namecard {
    border-radius: 50%;
    height: 25px;
    width: 25px;
    text-align: center;
    font-size: 14px;
    padding: 2px;
    border: 1px solid rgba(0, 0, 0, 0.565);
}
.namecard:not(:first-child) {
    margin-left: -10px;
}

.projectForm {
    position: fixed;
    z-index: 10;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #95bdb964;
}

/* Width of scrollbar */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

.showPassword {
    cursor: pointer;
    position: absolute;
    right: 1rem;
    top: 0.7rem;
}
.showPassword:hover {
    font-size: larger;
    right: 0.9rem;
    top: 0.6rem;
}
.card-body {
    cursor: pointer;
}

.card-body:hover span {
    transform: translateX(5px);
    transition: ease-in-out 0.3s;
    color: rgb(22, 170, 22);
    display: inline-block;
}

.back {
    margin-left: -3rem;
    /* background-color: #2c7770; */
    box-sizing: border-box;
    padding: 5px;
    overflow: hidden;
    height: 2rem;
}

.back a:hover {
    font-weight: 400;
    transition: ease-in 0.1s;
    font-size: 1.1rem;
    margin-top: -10px;
    /* margin-right: -30px; */
}

.name-container {
    list-style: none;
    padding-inline-start: 1rem;
}

.name-container li {
    margin: 4px 0;
}
.name-container li .namepill {
    height: 25px;
    width: 25px;
    text-align: center;
    border-radius: 50%;
    font-size: 1rem;
    display: inline-block;
}

.teamMemberForm {
    background-color: #2c77706f;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.teamMemberForm .form-container {
    max-width: 30rem;
    min-width: 20rem;
    padding: 2rem;
    background-color: #f1f1f1;
}

.profileform {
    background-color: #f1f1f1;
}

.pcard .heading:hover .go {
    transform: translateX(5px);
    transition: ease-in-out 0.3s;
    color: rgb(224, 59, 18);
    display: inline-block;
}
.tcard .heading:hover .go {
    transform: translateX(5px);
    transition: ease-in-out 0.3s;
    color: rgb(224, 59, 18);
    display: inline-block;
}

.pcard:hover {
    box-shadow: 0 2px 5px gray;
}

.tcard:hover {
    box-shadow: 0 2px 5px gray;
}

.projectDescription {
    color: grey;
}

.tag-container {
    list-style: none;
    display: flex;
    gap: 3px;
    padding-inline-start: 0;
    flex-wrap: wrap;
}
.tags {
    padding: 2px 4px;
    border-radius: 10px;
    border: 1px solid gray;
    font-size: 0.7rem;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    color: gray;
}
.tag-container .selected {
    background-color: var(--nav-background-color);
    color: black;
}

.tags:hover {
    background-color: var(--nav-background-color);
    color: black;
}

.goToTask {
    cursor: pointer;
}

.goToTask:hover span {
    transition: 0.2s ease-in-out;
    display: inline-block;
    transform: translateX(3px);
    color: red;
    font-weight: bold;
}

.loadingContainer {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #2c777020;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.backArrow{
    font-size: 0.9rem;
}
.backArrow:hover{
    font-size: 1rem !important;
}
.backArrow:hover span{
    margin: -2px 2px 0 -2px;
    transition: 0.2s ease-in-out;
}